@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    background-color: black;
    font-family: 'Hubballi', cursive;
}

.calculator {
    width: 43rem;
    height: 44rem;
    background-color: black;
    margin: auto;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 20px 0px 0px 0px white;
    border-bottom: 5px solid white;
    border-left: .05px solid white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width: 33.5rem;
    height: 5rem;
    background-color: black;
    margin-top: 30px;
    color: gold;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 25px;
    margin-left: 6px;
}

.results {
    margin-top: 50px;
    font-size: 35px;
}

.buttons {
    display: flex;
    gap: 15px;
    width: 35rem;
    justify-content: center;
    flex-direction: column;
    color: azure;
}

.button {
    border: solid 1px white;
    width: 6rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 0px 0px 0px white;
    border-bottom: 2px solid white;
    font-size: 35px;
    transition: 0.08s;
}

.pressed {
    box-shadow: 0px 0px 0px 0px white;
    transform: scale(0.93);
}

.edit-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.edit-buttons div {
    width: 235px;
    height: 50px;
}

.op-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.9rem;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }